Example2.xsd

<?xml version="1.0" encoding="utf-8"?>  
 <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">  
     <xsd:element name="figure">  
         <xsd:complexType>  
             <xsd:sequence>  
                 <xsd:element name="x" type="xsd:integer"/>  
                 <xsd:element name="y" type="xsd:integer"/>  
                 <xsd:element name="opaque" minOccurs="0" maxOccurs="1" type="xsd:boolean" default="false"/>  
             </xsd:sequence>  
             <xsd:attribute name="id" type="xsd:int" use="required" />  
         </xsd:complexType>  
     </xsd:element>  
</xsd:schema>                      